$font-stack-1: "Roboto", sans-serif;
$font-stack-2: "Fahkwang", sans-serif;
$font-family-PT-Sans: "PT Sans Narrow", sans-serif;

// colors

$profile-section-background-1: #22483d;
$profile-section-color-1: #fff;
