.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
  }
  .wrapper > * {
    grid-column: col-start / span 12;
  }
  
  @media (min-width: 500px){
    .image-frame{
      margin: 0.8rem;
    }
    .content, .image-frame, .projects-cover{
        grid-column: col-start 1 / span 12;
    }
}
  @media (min-width: 700px) {
      .image-frame {
        grid-column: col-start 10 / span 12;
        grid-row: 2 / 4;
        width: 80%;

      }
      .content {
        grid-column: col-start 2 / span 10;
        grid-row: 2 / 4;
        p,h3{
          padding: 0 9rem 0 8rem;
        }
      }
      .main-nav{
        grid-column: col-start 9 / span 12;
        grid-row: 1;
      }
       .projects-wrapper{
        grid-column: col-start / span 12;
      }
      .projects-cover{
        margin: 1rem 5rem;
      }
    }
    